databases:
  - name: old_collaborate_db_prod
    databaseName: old_collaborate_db_prod
    user: collaborate

services:
- type: redis
   name: cache
   ipAllowList: [] # only allow internal connections
   plan: free # optional (defaults to starter)
   maxmemoryPolicy: allkeys-lfu # optional (defaults to allkeys-lru). Rails recommends allkeys-lfu as a default.
  - type: web
    name: old_collaborate_v1
    runtime: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: old_collaborate_db_prod
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
         - key: COLLAB_REDIS_URL # this must match the name of the environment variable used in production.rb
        fromService:
          type: redis
          name: cache
          property: connectionString