databases:
  - name: old-collaborate-db-prod
    databaseName: old_collaborate_db_s935
    user: collaborate

services:
  - type: web
    name: old-collaborate-v1
    runtime: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: <%= DATABASE_URL %>
        fromDatabase:
          name: old-collaborate-db-prod
          property: connectionString
      - key: <%= ENV['RAILS_MASTER_KEY'] %>
        sync: false