// Specific CSS for your home-page

.banner h1 {
    margin: 0;
    color: white;
    margin-bottom: 23px;
    max-width: 560px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 50px;
    font-weight: bold;
    font-family: 'Audiowide', cursive;
}

@media only screen and (max-width: 600px) {
  .banner h1{
    font-size: 40px;
  }
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  font-family: 'Nixie One', cursive;
  margin-bottom: 20px;
}

@media only screen and (max-width: 991px) {
  .banner p {
    font-size: 15px;
  }
}

.home-banner-container {
    padding: 0 100px;
    margin-right: auto;
    margin-left: auto;
} 

@media only screen and (max-width: 900px) { 
  .home-banner-container {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 600px) {
  .home-banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
  }
}