#request-show-container {
  background-image: url("../../images/prism.png");
}

.request-show-header {
  margin: 70px 17px;
  h1 {
    text-align: left;
    color: #3a036d;
    font-size: 27px;
  }
  h4 {
    font-size: 16px;
    max-width: 500px ;
  }
}

.request-show-btn {
  display: flex;
  justify-content: space-around;
  margin: 50px;
  .btn {
    background-color: red;
    height: 75px;
    width: 350px;
    font-size: 30;
    padding: 25px;
    border-radius: 8px;
  }
}

.request-show-call-to-action {
  margin-top: 175px;
  margin-bottom: 75px;
  text-align: center;
}

.request-submission-form {
  border: outset;
  padding: 15px;
  border-width: 10px 10px 10px 10px;
  width: 500px;
  margin: auto;
}

.request-show-submissions {
  margin-top: 75px;
  border-top: 3px solid #3a046d;
  .request-show-submissions-header {
    margin: 20px;
    h4 {
          font-size: 16px;
    max-width: 900px;
    margin: auto;
    text-align: center;
    }
    h2 {
      margin: 12px 17px;
      margin-top: 40px;
         color: #3a046d;
  text-align: center;
  font-family: "Audiowide"
    }
  }
}
