// Specific CSS for your home-page
.banner {
  display: flex;
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  height: 80vh;
  color: white;
}

@media only screen and (max-width: 600px) {
  .banner {
      padding: 20px 0;
    }
  }
  
.circle-card {
  max-width: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 64px;
  color: white;
  border: 2px;
  border-color: #fbfbfb;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 1px 1px 21px lightgrey;
}

@media only screen and (max-width: 991px) {
  .circle-card {
    max-width: 600px;
  }
}

.circle-card img {
    max-height: 166px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    color: white;
    position: center;
}

@media only screen and (max-width: 991px) {
  .circle-card img {
    max-height: 300px;
  }
}

.wiki-heading {
  margin: 40px;
}

.circle-cards {
  display: flex;
  justify-content: space-around;
  color: white;
}

@media only screen and (max-width: 991px) {
  .circle-cards {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.circle-card h3 {
  text-align: center;
  margin: 30px 0;
  margin-bottom: 9px;
  color: #3a046d;

}

.circle-card p {
    margin-top: 0;
    color: #000000b8;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 17px;
    padding: 13px;
}


.paragraph {
  margin: 10px;
}

.info-card-title {
  margin-left: 10px;
}

.arrow-down {
  color: #3A036D;
  font-size: 35px;
  text-align: center;
  margin-bottom: 60px;
}

.howto {
  text-align: center;
  color: #3a036d;
  font-size: 27px;
  margin-top: 60px;
}

.wiki-how-title {
  text-align: center;
}
