.final-track-header {
  margin: 50px 17px;
  text-align: left;
  color: #3a036d;
  font-size: 27px;
}

.final-track-sub-header {
  margin: 50px 17px;
  text-align: left;
  font-size: 20px;
}

.final-track {
  margin: 50px 17px;
  text-align: left;
}
