.title-container h1 {
  margin: 50px 17px;
  text-align: left;
  color: #3a036d;
  font-size: 27px;
}

.description p {
  font-family: sans-serif;
  max-width: 450px;
  margin: 18px;
}


.btn-delete {
  align-items: center;
  margin: 10px 10px 0px 10px;
  display: block;
  font-size: 15px;
  color: #6b478f;
  border: solid 1px #6b478f;
  border-radius: 5px;
  width: 300px;
}

