.title-container h1 {
  margin: 50px 17px;
  text-align: left;
  color: #3a036d;
  font-size: 27px;
}

.description p {
  font-family: sans-serif;
  max-width: 450px;
  margin: 18px;
}


.btn-delete {

  align-items: center;
  margin: -70px 0px 60px 15px;
  display: block;
  position: relative;
  font-size: 15px;
  color: #fff;
  border: solid 1px #6b478f;
  border-radius: 5px;
  width: 300px;
  background-color: #343a40;
  border-color: #343a40;
  }
.btn-delete:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}
