<h1>Hello <%= @user.first_name %></h1>
<h2>Finished a track? Get it off soundcloud and post it here!</h2>
<p>This well help other users find out what your about!</p>




<h1>Here are your masterpieces: </h1>



