<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/collaborate.today/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/collaborate.today/"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Helping Musicians Help Themselves <i class="fas fa-heart"></i>
  </div>
</div>
