<div class="container">
  <div class="row">
    <h1>All Collaboration Track Requests: </h1>
      <div class="row">
        <% @requests.each do |request| %>


      </div>
      <% end %>
  </div>
</div>
