<div class="container">
  <div class="index-title">
    <h1>All Collaboration Track Requests </h1>
    <h2><i class="fas fa-search"></i>Search</h2>
  </div>

  <div class="row justify-content-center">
    <div class="index-call-to-action">
      <%= link_to "Add a Track", new_track_path, class: "btn index-btn" %>
    </div>
  </div>

  <div class="index-cards">
    <% @requests.each do |request| %>
      <%= link_to request_path(request) do %>
        <%= render 'shared/track', track: request.track %>
      <% end %>
    <% end %>
  </div>
</div>
