<div class="container">
  <h1>My Collaboration Track Requests: </h1>
  <% @requests.each do |request| %>
    <p>Description: <%= request.description %></p>
    <%= render 'shared/track', track: request.track %>
    <p>Start (seconds): <%= request.start_second %></p>
    <p>End (seconds): <%= request.end_second %></p>
  <% end %>
</div>

<!-- link_to 'Delete request', delete_path, class: "btn btn-dark" -->
