<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <h1>Want to <strong>finish</strong> that <strong>track today</strong>?</h1>
    <p>Collaborate connects you to artists globally with the talent <strong>you</strong> need to realise your ideal sound.</p>
    <br>
    <% if !user_signed_in? %>
      <%= link_to "Start Collaborating", new_user_registration_path, class: "btn btn-light" %>
      <% else %>
      <%= link_to "Continue Collaborating", requests_path, class: "btn btn-light" %>
    <% end %>
    <%= link_to "Check Out Collaborations", requests_path, class: "btn btn-secondary" %>
    <div class="container">
  </div>
  </div>
</div>

<div class="container">
    <h1 class="howto">How to use Collaborate</h1>
      <div class="circle-cards">
        <div class="circle-card">
          <img src="https://res.cloudinary.com/beartechnologies/image/upload/v1559635437/collaborate/img_c_zyepu5.jpg">
          <h3 class="info-card-title">Missing a Sound?</h3>
          <p class="paragraph">Everyone needs a little help sometimes. Collaborate gives you the vocals or instrumental element you need to finish that track.</p>
        </div>
        <div class="circle-card">
          <img src="https://res.cloudinary.com/beartechnologies/image/upload/v1559635437/collaborate/img_b_sr5fqf.jpg" alt="Bass">
          <h3 class="info-card-title">Let the missing element find you!</h3>
          <p class="paragraph">Upload your track onto Collaborate, describe what you need and let our collaborators submit their track suggestions. Download your favourite and give the Collaborator credit. </p>
        </div>

        <div class="circle-card">
          <img src="https://res.cloudinary.com/beartechnologies/image/upload/v1559635437/collaborate/img_a_dj6azx.jpg">
          <h3 class="info-card-title">Mix and Master</h3>
          <p class="paragraph">Afterwards you can finish your mix in your own recording software and show the world your new track!</p>
        </div>
      </div>
  </div>
