<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="home-banner-container">
    <h1>Want to finish that track today?</h1>
    <p>Collaborate connects you to artists globally with the talent you need to finish your track and realise your ideal sound.</p>
    <div class="home-btn-container">
    <% if !user_signed_in? %>
      <%= link_to "Start Collaborating", new_user_registration_path, class: "btn btn-light" %>
      <% else %>
      <%= link_to "Continue Collaborating", requests_path, class: "btn btn-light" %>
    <% end %>
    <%= link_to "Check Out Collaborations", requests_path, class: "btn btn-secondary" %>
  </div>
  </div>
</div>

<div class="container">
    <div class="wiki-how-title">
      <h1 class="howto">How to use Collaborate</h1>
      <i class="fas fa-angle-down arrow-down"></i>
    </div>
      <div class="circle-cards">
        <div class="circle-card">
          <img src="https://res.cloudinary.com/beartechnologies/image/upload/v1559635437/collaborate/img_c_zyepu5.jpg">
          <h3 class="info-card-title">Missing a Sound?</h3>
          <p class="paragraph"> Upload your track that has a missing element, describe exactly what you need and collaborate will connect you to musicians with the right skills that can help you. </p>
        </div>
        <div class="circle-card">
          <img src="https://res.cloudinary.com/beartechnologies/image/upload/v1559635437/collaborate/img_b_sr5fqf.jpg" alt="Bass">
          <h3 class="info-card-title">Let The Sound Find You!</h3>
          <p class="paragraph"> Wait for collaborators to post submissions on your track, accept your favorite and then download it. </p>
        </div>

        <div class="circle-card">
          <img src="https://res.cloudinary.com/beartechnologies/image/upload/v1559635437/collaborate/img_a_dj6azx.jpg">
          <h3 class="info-card-title">Mix and Master</h3>
          <p class="paragraph">Drop the submission into your mix, master it and then show the world your new track!</p>
        </div>
      </div>
  </div>