<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/beartechnologies/image/upload/v1559680052/Screenshot_2019-06-04_at_22.26.31_xahhfw.png);">
  <div class="container">
    <div class="container">
      <div class="circle-cards">

      </div>
      <%= link_to "Finish your track now!", requests_path, class: "btn btn-light" %>
  </div>
  </div>
</div>



 -->
