.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  font-family: 'Nixie One', cursive;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Audiowide', cursive;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}


.tracks-form {
  label {
    color: grey;
  }
  .submission_file {
      display: flex;
      label {
        margin-right: 20px;
      }

  }
  max-width: 700px;
  margin: auto;
  border-radius: 3px;
  margin-top: 44px;
  padding: 40px;
  background: white;
  box-shadow: 1px 1px 10px lightgrey;
  h1 {
    font-size: 29px;
    margin-bottom: 20px;
    text-align: left;
    color: #3a036d;
    font-size: 27px;
  }
  .btn {
    width: 100%;
    background-color: #c420c8;
    border-color: #c420c8;
  }
}
