
.index-btn {
  margin: 15px;
  border-width: 1px;
  border-color: white;
  width: 800px;
  height: 100px;
  align-content: center;
  border-radius: 20px;
  font-size: 55px;
  background-color: #EF233C;
  color: white;
  font-family: 'Audiowide', cursive;
  transition: ease-in-out 0.5s;
  &:hover {
    opacity: 0.5;
    color: white;
  }
}
