.navbar-lewagon {
  justify-content: space-between;
  background: #270F60;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

.navbar-link {
  color: white;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 20px;
}

.navbar-link:hover {
  text-decoration: none;
}
