.navbar-lewagon {
  justify-content: space-between;
  background-color: black;
  font-family: 'Audiowide', cursive;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  font-family: 'Audiowide', cursive;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
  font-family: 'Audiowide', cursive;
}

.navbar-actions {
  color: #ede8e8;
  font-weight: bold;
  font-family: 'Audiowide', cursive;
  margin: 10px;
  text-decoration: none;
  text-align: center;

}
.navbar-actions:hover {
  color: #C420C8;
  transition: 0.2s;
}



.navbar-link:hover {
  text-decoration: none;
  font-family: 'Audiowide', cursive;
}



#navbarDropdown {
  color: #ede8e8;
  font-size: 30px;
}

#navbarDropdown:hover {
  color: #C420C8;
  transition: 0.2s;
}

.fa-search {
  color: white;
}

.searchbar {
  display: inline-block;

}

#navbarSupportedContent {
  a {
    font-family: Sans-Serif;
    font-weight: 300;
  }
  li {
    line-height: 60px;
    margin-right: 10px;
    font-family: Sans-Serif !important;
    font-weight: 800;
  }
}

#search-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  i {
    color: black;
  }
}

.howto {
  text-align: center;
  margin: 62px 0;
  color: #3a036d;
  font-size: 27px;
}

.btn-light {
  color: white;
  background-color: #C420C8;
  margin-right: 10px;
}

.btn-secondary {
  border: solid 2px #ffffff8a;
  background:  transparent;
}

.dropdown-menu {
  padding: 0px;
  margin: 0.75rem 0 0;
}

.dropdown-menu-right {
  right: -16px;
}

.dropdown-item:hover {
  background-color: #C420C8;
  color: white;
}

