.navbar-lewagon {
  justify-content: space-between;
  background-color: black;
  font-family: 'Audiowide', cursive;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  font-family: 'Audiowide', cursive;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
  font-family: 'Audiowide', cursive;
}

.navbar-actions {
  color: #ede8e8;
  font-weight: bold;
  font-family: 'Audiowide', cursive;
  margin: 10px;
  text-decoration: none;
  text-align: center;

}
.navbar-actions:hover {
  color: #C420C8;
  transition: 0.2s;
}



.navbar-link:hover {
  text-decoration: none;
  font-family: 'Audiowide', cursive;
}


#navbarDropdown {
  color: #ede8e8;
  font-size: 30px;
}

#navbarDropdown:hover {
  color: #C420C8;
  transition: 0.2s;
}
