.navbar-lewagon {
  justify-content: space-between;
  background: black;
  font-family: 'Audiowide', cursive;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  font-family: 'Audiowide', cursive;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
  font-family: 'Audiowide', cursive;
}

.btn-light {
  color: white;
  font-family: 'Audiowide', cursive;
  background-color: #C420C8;
  margin-right: 10px;
}

.navbar-link:hover {
  text-decoration: none;
  font-family: 'Audiowide', cursive;
}

.fa-search {
  color: white;
}

.searchbar {
  display: inline-block;
}

#search-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  i {
    color: black;
  }
}

