.submission-card-hull {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 65px;
  margin-right: 65px;
  font-family: 'Work Sans', sans-serif;
}

.submission-card-header {
   overflow: hidden;
  height: 300px;
  background: light-gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  align-items: center;
  margin: 15px;
  padding: 10px;
  color: black;
  font-family: 'Work Sans', sans-serif;
}

.description {
  display: flex;
  align-items: flex-end;
  padding: 5px;
  justify-content: space-around;
}

.submission-wav-details {
  display: flex;
  align-items: flex-end;
  padding: 5px;
  justify-content: space-around;
}

.submission-wav-details p {
  font-size: 20px;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  padding: 5px;
}

.submission-wav-details .btn-light {

}




// .selected-btn {
//   color: black;
//   background-color: #C420C8;
//   margin: 10px;
//   opacity: 0.7;
//   padding: 5px;
// }

// .selected-btn:hover {
//   opacity: 1;
// }

// .accepted-btn {
//   color: white;
//   background-color: green;
//   margin: 10px;
//   padding: 5px;
// }
