.submission-card-false {
  overflow: hidden;
  height: 340px;
  background-color: #b3b3b3;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
  border-radius: 5px;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px;
  color: black;
  font-family: 'Work Sans', sans-serif;
}
