.submission-card-hull {
  overflow: hidden;
  background: light-gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px;
  color: black;
  font-family: 'Work Sans', sans-serif;
}

.submission-wav-details {
  display: flex;
  align-items: flex-end;
  padding: 5px;
  justify-content: space-around;
}

.submission-wav-details p {
  font-size: 20px;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  padding: 5px;
}


.submission-card-header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 65px;
  margin-right: 65px;
  font-family: 'Work Sans', sans-serif;
}

.selected-btn {
  background-color: #C420C8;
  opacity: 0.7;
  padding: 10px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: solid white 1px;
  color: white;
  position: relative;
  left: 425px;

  a {
    display: flex;
    justify-content: space-around;
    padding-top: 3px;
    line-height: -15px;
    text-decoration: none;
    color: white;
    left: 10px;

  }
}

.submission-card-false {
  opacity: 0.8;
  overflow: hidden;
  background: #f2f2f2;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
  border-radius: 5px;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px;
  color: black;
  font-family: 'Work Sans', sans-serif;
}

.submission-card-true {
  overflow: hidden;
  background: light-gray;
  box-shadow: 0 0 40px rgba(218, 165, 32, 0.8);
  border-radius: 5px;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px;
  color: black;
  font-family: 'Work Sans', sans-serif;
}

.accepted-text {

}



