.submission-card-true {
  overflow: hidden;
  height: 300px;
  background: light-gray;
  box-shadow: 0 0 15px rgba(218, 165, 32, 0.2);
  border-radius: 5px;
  align-items: center;
  margin: 15px;
  padding: 10px;
  color: black;
  font-family: 'Work Sans', sans-serif;
}

