.submission-card-false {
  overflow: hidden;
  background: dark-gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  border-radius: 5px;
  align-items: center;
  margin: 15px;
  padding: 10px;
  color: black;
  font-family: 'Work Sans', sans-serif;
}
