.submission-card-true {
  overflow: hidden;
  height: 340px;
  background: light-gray;
  box-shadow: 0 0 25px rgba(218, 165, 32, 0.8);
  border-radius: 5px;
  align-items: center;
  margin: 15px;
  padding: 10px;
  color: black;
  font-family: 'Work Sans', sans-serif;
}

.selected-btn {
  visibility: hidden;
}


