// External libraries
// @import "bootstrap/scss/bootstrap.scss";
// @import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets"; 
@import "bootstrap";

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/wikihow"
